body {
    margin-inline: 30px;
}

input {
    padding: .4em;
    margin-bottom: 15px;
    display: block;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 1.2rem;
    padding: .4em 2em;
    transition: .4s ease-in;

    &:hover {
        opacity: .7;
    }
}

.result {
    margin-top: 30px;
}